#logo{
display: flex;
padding:20px 20px;
zoom: 3%;


}

/*-------header-------*/
header{
    background-color: black;
    
   
    
}
#heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    
    
   
}
#heading a{
    text-decoration: none;
   color:grey;
   justify-content: space-between;
   align-content: center;
   margin: 20px;
   transition: 0.2s;

    
}
#heading a:hover{
    color:white;

}
/*---------contents-------*/

#rows{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 100PX;
    font-size: 20PX;
    background-image:url(jpgs/home.bg.jpg.jpg) ;
    background-size: 100%;
    background-position: 50%;
    background-position-y: 100%;
    color: white;
    
  
}
#left-row img{
   width: 20%;
   padding-left: 50px;
   margin-left: 50%;
}
h1 b{
    color: blue;
}
/*--welcome message---*/
#welcome-message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 45%;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
}
#next-button button{
    border-radius: 0px;
}
#Prev-button button{
    border-radius: 0px;
    
}
#next-button-home button{
     border-radius: 0px;
     margin: 5%;
     margin: 5% 5% 5% 95%;
     
    
}
#Prev-button-contact button{
    border-radius: 0px;
    margin: 8%;
    
}





/*---------------------ABOUT PAGE----------------------------*/
#tab-titles1{
   margin-left: 400px;
   margin-bottom: 200px;
   
}
#full-img{
    width: 5%;
    height: 5%;
   padding-left: 400px;
}
   


#content1{
    padding-left: 30%;
    
}



/*-----------------MY WORK PAGE------------------------*/

#row2{
    display: flex;
    
    
}
#right-column img{
    width: 30em;
    height: 30em ;
    padding-right: 10em;
}
#left-column p{
    margin-right: 40%;
    
    
}
.session1{
    padding: 10%;
}
.session2{
    padding: 10%;
}
.session3{
    padding: 10%;
}
/*.........contact page..............*/
.contact-details{
    padding-left: 30%;
    
}
.contact-details h1{
    padding-left: 35%;
    text-decoration: underline;
}
.contact-details #evans-passport{
    height: 20%;
    width: 20%;
}
.contact-details a{
    text-decoration: none;
    color: black;
    
}
#whatapp-button{
    margin-left: 40%;
    display: block;
}

#whatapp-button button{
    background-color: black;
    color:white;

}

/*--------footer----*/
footer{
    background-color: black;
}
.footer{
    display: flex;
    justify-content: space-between;
}
#socials{
   display: flex;
   justify-content: space-between;
   color: white;
   
   
}
#socials a{
    margin: 20px;
}
#socials p{
    margin: 20px;
}
#copyright-message{
    color: white;
    font-size: small;
    margin-left: 35%;
}

